---
import { getId } from "../../../lib/youtube";

const { block } = Astro.props;
---

<lite-youtube
    videoid={getId(block.link)}
    playlabel={block.blockName}
    style={`background-image: url('https://i.ytimg.com/vi/${getId(block.link)}/hqdefault.jpg');`}
>
    <a href={block.link} class="lty-playbtn" title={block.blockName}>
        <span class="lyt-visually-hidden">{block.blockName}</span>
    </a>
</lite-youtube>
