---
import Layout from "../layouts/layout.astro";
import Node from "../components/rich_text/node.astro";
import {
    defaultComponents,
    defaultBlockComponents,
} from "../components/rich_text/default_components";

import type { Page } from "../types";

export async function getStaticPaths() {
    try {
        const params = new URLSearchParams({
            limit: "100",
        });

        const response = await fetch(
            `${import.meta.env.PUBLIC_PAYLOAD_API_URL}/pages?${params}`,
            {
                headers: {
                    Authorization: `users API-Key ${import.meta.env.PAYLOAD_API_TOKEN}`,
                },
            },
        ).then((r) => r.json());

        const pages = response.docs.map((page: Page) => ({
            params: { slug: page.slug },
            props: {
                page: page,
            },
        }));

        return pages;
    } catch (err) {
        console.log(err);
    }
}

interface Props {
    page: Page;
}

const { page } = Astro.props;
---

<Layout
    title={page.meta.title || page.title}
    description={page.meta.description}
>
    <h1 class="text-2xl text-center md:text-4xl m-2">{page.title}</h1>
    <Node
        components={defaultComponents}
        blockComponents={defaultBlockComponents}
        node={page.content.root}
    />
</Layout>
